
body {
    background-color:aliceblue;
}
hr{ 

margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: dotted;
border-bottom-style: none;
border-width: 5px;

    }
    .profile{
        height: 150px;
        cursor: pointer;
    }
    img:hover{
        opacity: 0.9;
        
    }
        h1{
            color:#66BFBF; 
        }
             h3{
                 color:#66BFBF; 
                }
.fbid {
    padding: 5px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2f6ffa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.fbid:hover {background-color: #1f04bd}

.fbid:active {
    background-color: #0300be;
    box-shadow: 0 5px rgb(31, 9, 9);
    transform: translateY(4px);
  }

.contact {
    padding: 5px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2f6ffa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.contact:hover {background-color: #1f04bd}
.contact:active {
    background-color: #0300be;
    box-shadow: 0 5px rgb(37, 26, 26);
    transform: translateY(4px);
  }
  .yticon {
      height:30px;
  }